<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TiLT - JSON EDITOR</span>
  <span class="example-spacer"></span>
  <mat-chip-listbox aria-label="Dog selection">
    <mat-slide-toggle [(ngModel)]="isChecked" (change)="test()">Preview Tree</mat-slide-toggle>
    <mat-chip>
      1.2
    </mat-chip>
  </mat-chip-listbox>
  <button mat-icon-button (click)="open()" class="example-icon favorite-icon" matTooltip='Github'>
    <mat-icon>hub</mat-icon>
  </button>
  <button *ngIf="id" mat-icon-button (click)="saveJson()" class="example-icon favorite-icon" matTooltip='Salvar Json'>
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="!id" mat-icon-button (click)="shareJson()" class="example-icon favorite-icon" matTooltip='Compartilhar'>
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="openUpload()" matTooltip="Enviar Arquivo" [matTooltipPosition]="'above'" mat-icon-button
          class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>upload</mat-icon>
  </button>
</mat-toolbar>
