<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="openSidebarClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>TiLT - JSON EDITOR</span>
  <span class="example-spacer"></span>
  <mat-chip-listbox aria-label="Dog selection">
    <mat-slide-toggle [(ngModel)]="isChecked" (change)="test()">Preview Tree</mat-slide-toggle>
    <mat-chip>
      1.3.1-beta
    </mat-chip>
  </mat-chip-listbox>
  <button mat-icon-button (click)="open()" class="example-icon favorite-icon" matTooltip='Github'>
    <mat-icon>hub</mat-icon>
  </button>
  <button *ngIf="id" mat-icon-button (click)="newJson()" class="example-icon favorite-icon" matTooltip='Novo JSON'>
    <mat-icon>add_circle</mat-icon>
  </button>
  <button *ngIf="id" mat-icon-button (click)="saveJson()" class="example-icon favorite-icon" matTooltip='Salvar JSON'>
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="!id" mat-icon-button (click)="shareJson()" class="example-icon favorite-icon" matTooltip='Compartilhar'>
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="openUpload()" matTooltip="Enviar Arquivo" [matTooltipPosition]="'above'" mat-icon-button
          class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>upload</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Meus JSONs" (click)="openSidebarClick()" [matTooltipPosition]="'above'" class="example-icon">
    <mat-icon>data_object</mat-icon>
  </button>
  <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="{{nameUser || 'login'}}" [matTooltipPosition]="'above'" class="example-icon">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="nameUser === ''" mat-menu-item (click)="openLogin()"><mat-icon>login</mat-icon> Login</button>
    <button *ngIf="nameUser === ''" mat-menu-item (click)="openRegister()"><mat-icon>how_to_reg</mat-icon> Cadastro</button>
    <button *ngIf="nameUser !== ''" mat-menu-item disabled><mat-icon>how_to_reg</mat-icon> {{nameUser}}</button>
    <mat-divider *ngIf="nameUser !== ''"></mat-divider>
    <button *ngIf="nameUser !== ''" mat-menu-item (click)="openSidebarClick()"><mat-icon>data_object</mat-icon> Meus JSONs</button>
    <mat-divider *ngIf="nameUser !== ''"></mat-divider>
    <button *ngIf="nameUser !== ''" mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Sair</button>
  </mat-menu>
</mat-toolbar>
