<mat-toolbar color="primary" [class.dark]="DarkMode">
  <span class="title">JSONEDIT</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [class.tree_active]="isChecked" (click)="test()" matTooltip='JSON Tree'>
    <mat-icon>account_tree</mat-icon>
  </button>
  <button mat-icon-button (click)="setDark()" matTooltip='Dark Mode'>
    <mat-icon>{{ DarkMode ? 'wb_sunny' : 'nights_stay' }}</mat-icon>
  </button>
  <button *ngIf="id" mat-icon-button (click)="newJson()" class="example-icon favorite-icon" matTooltip='Novo JSON'>
    <mat-icon>add_circle</mat-icon>
  </button>
  <button *ngIf="id" mat-icon-button (click)="saveJson()" class="example-icon favorite-icon" matTooltip='Salvar JSON'>
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="!id" mat-icon-button (click)="shareJson()" class="example-icon favorite-icon" matTooltip='Compartilhar'>
    <mat-icon>share</mat-icon>
  </button>
  <button (click)="openUpload()" matTooltip="Abrir Arquivo" [matTooltipPosition]="'above'" mat-icon-button
          class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>upload</mat-icon>
  </button>
  <button *ngIf="nameUser !== ''" mat-icon-button matTooltip="Meus JSONs" (click)="openList()" [matTooltipPosition]="'above'" class="example-icon">
    <mat-icon>data_object</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Organizacao" [matTooltipPosition]="'above'" (click)="openOrg()" class="example-icon">
    <mat-icon>group</mat-icon>
  </button>
  <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="{{nameUser || 'login'}}" [matTooltipPosition]="'above'" class="example-icon">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="nameUser === ''" mat-menu-item (click)="openLogin()"><mat-icon>login</mat-icon> Login</button>
    <button *ngIf="nameUser === ''" mat-menu-item (click)="openRegister()"><mat-icon>how_to_reg</mat-icon> Cadastro</button>
    <button *ngIf="nameUser !== ''" mat-menu-item disabled><mat-icon>how_to_reg</mat-icon> {{nameUser}}</button>
    <mat-divider *ngIf="nameUser !== ''"></mat-divider>
    <button *ngIf="nameUser !== ''" mat-menu-item (click)="openSidebarClick()"><mat-icon>data_object</mat-icon> Meus JSONs</button>
    <mat-divider *ngIf="nameUser !== ''"></mat-divider>
    <button *ngIf="nameUser !== ''" mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Sair</button>
  </mat-menu>
</mat-toolbar>
