@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.title {
  font-family: "Indie Flower", cursive;
  font-weight: 500;
  font-style: normal;
  text-transform: lowercase;
}
.example-spacer {
  flex: 1 1 auto;
}
.dark{
  background: var(--ds-surface);
}

.tree_active{
  background: #7d7d7d;
}
