<app-header (json)="newJson($event.toString())" (preview)="setPreview($event)"
            [current_json]="this.visibleData" [id]="id"
            (setDarkMode)="setDark($event)" [DarkMode]="darkMode" [isChecked]="preview">
</app-header>

  <div class="content" [class.dark]="darkMode">
    <json-editor [options]="editorOptions" [data]="initialData" (change)="showJson($event)"></json-editor>
    <json-editor *ngIf="preview" [options]="editorOptions_view" [data]="visibleData"
                 (change)="showJson($event)"></json-editor>
    <div *ngIf="!preview" class="formater">
      <pre [innerHTML]="visibleData | prettyjson"></pre>
    </div>
    <button (click)="copy()" class="copy" matTooltip="Clique para copiar todo o JSON" [matTooltipPosition]="'before'"
            mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
<footer>
  <div class="term">
    Todos os diretios reservados a Tilt Tecnologia - 2024
  </div>
  <div class="right">
    <div class="social">
      <mat-icon (click)="open()" matTooltip='Github'>hub</mat-icon>
    </div>
    <div class="version">
      version: 1.6.0
    </div>
  </div>
</footer>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

