<h1 mat-dialog-title>Listagem de Jsons</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="list" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> #id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="org">
      <th mat-header-cell *matHeaderCellDef> Organizacao </th>
      <td mat-cell *matCellDef="let element">
       {{ element.organization.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Options </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>upload</mat-icon>
        <mat-icon>upload</mat-icon>
        <mat-icon>upload</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
