.sidebar{
  max-width: 350px;
  min-width: 350px;
  h3 {
    padding: 15px 0px 0px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    padding: 10px;
  }
}

:host ::ng-deep  .context{
  overflow: auto;
}

.formater{
  max-height: 300px;
}
