@import '~jsoneditor/dist/jsoneditor.min.css';
:root{
  --ds-surface: #1D2125;
  --ds-surface-hovered: #22272B;
  --ds-surface-pressed: #282E33;
  --ds-surface-overlay: #282E33;
  --ds-surface-overlay-hovered: #2C333A;
  --ds-surface-overlay-pressed: #38414A;
  --ds-surface-raised: #22272B;
  --ds-surface-raised-hovered: #282E33;
  --ds-surface-raised-pressed: #2C333A;
  --ds-surface-sunken: #161A1D;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


pre {
  font-weight: 400;
  background: #272727;
  color: #727990;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;

  .number-line {
    color: #adadaf;
  }
  .string {
    color: #618554;
  }
  .number {
    color: #f2b619;
  }
  .boolean {
    color: #0097f1;
  }
  .null {
    color: #727990;
  }
  .key {
    color: #9976ae;
  }
}
html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;
}
.copy{
  position: absolute !important;
  bottom: 10px;
  right: 25px;
}
.formater {
  width: 100%;
  height: 100%;
  overflow: auto;

  .json {
    display: flex;
    height: 100%;

    .context{
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .list-numbers {
      padding-bottom: 5px;
      padding-top: 5px;
      background-color: #ebebeb;
      color: #1a1a1a;
    }

    .numbers {
      font-size: 12px;
      display: grid;
      justify-items: end;
      padding: 0 5px 0px 5px;
      background-color: #ebebeb;
    }
  }
}
.mdc-label{
  color: #FFF;
  font-weight: bold !important;
}


.loading{
  display: flex;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.2);
  height: 100%;
  left: 0;
  align-items: center;
  z-index: 9;
}

.mat-mdc-snack-bar-container {
  &.blue {
    --mdc-snackbar-container-color: #2196f3;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

@media (max-width: 667px) {
  .content{
    flex-wrap: wrap;
  }
}
