<h1 mat-dialog-title>Adicionar Organizacao</h1>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="sendForm">
    <div class="name">
      <mat-form-field class="example-full-width">
        <mat-label>Nome da Organizacao</mat-label>
        <input formControlName="name" matInput placeholder="Ex. Backend" value="Backend">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button matDialogClose>Voltar</button>
  <button mat-button cdkFocusInitial (click)="send()">Adicionar</button>
</mat-dialog-actions>
